numpy==2.5.2
pandas==3.0.5
matplotlib==3.11.1
seaborn==0.13.2
pyarrow==25.0.1
tqdm==4.70.0
scikit-learn==1.9.0
statsmodels==0.15.0
xgboost==3.4.1
lightgbm==4.7.0
ipykernel==7.3.0
ipywidgets==8.1.9
plotly==7.0.0
tensorflow-cpu==2.21.0
glum==3.4
